/*
Colors
https://coolors.co/0a0908-22333b-eae0d5-c6ac8f-5e503f
0a0908 Black
22333b Jet Black
eae0d5 Almond Cream
c6ac8f Khaki Beige
5e503f Stone Brown
*/


/**** FONTS ****/
body, p, div {
    font-family: "Lora", serif;
}

h1, h2, h3, h4, h5, h6, .tp-caption {
    font-family: "Quintessential", serif !important;
}

/**** FONTS ****/
body, p, div {
    font-family: "Lora", serif;
    color: #22333b;
}

h1, h2, h3, h4, h5, h6, .tp-caption {
    font-family: "Quintessential", serif !important;
    color: #22333b; 
}

html, body {
    background-color: #eae0d5 !important;
}
/**** NAV ****/
.navbar-brand a{
    font-family: "Quintessential", serif !important;
    font-weight: 900; 
    font-size: 40px;
    color: #22333b;
}

/**** COLORS  ****/
.revolution .tp-caption {
    color: #0a0908;
    text-shadow: 1px 2px 3px white;
}

/**** FOOTER ****/
footer p, footer div{
    color: pink;
}