/*
Colors
https://coolors.co/0a0908-22333b-eae0d5-c6ac8f-5e503f
0a0908 Black
22333b Jet Black
eae0d5 Almond Cream
c6ac8f Khaki Beige
5e503f Stone Brown
2f6690 Baltic Blue
edede9 Parchment
*/


/**** FONTS ****/
body,
p,
div {
    font-family: "Lora", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.tp-caption {
    font-family: "Quintessential", serif !important;
}

body,
p,
div {
    font-family: "Lora", serif;
    color: #22333b;
}

h1,
h2,
h3,
h4,
h5,
h6,
.tp-caption {
    font-family: "Quintessential", serif !important;
    color: #22333b;
}


/**** NAV ****/
.navbar-brand img {
    max-width: 218px;
}

.cbp-filter-container .cbp-filter-item:hover,
.cbp-filter-container .cbp-filter-item.cbp-filter-item-active,
.sticky-filter ul li a:hover,
.sticky-filter ul li.current a {
    color: #22333b !important;
}

.navbar.fixed .navbar-brand a {
    color: #eae0d5;
}

.navbar .nav>li.current>a,
.navbar .navbar-nav>li>a:focus,
.navbar .nav>li>a:hover {
    color: #2f6690 !important;
}
.navbar.fixed ul.nav.navbar-nav {
    margin-top: 37px;
}

/**** COLORS  ****/
html,
body {
    background-color: #eae0d5 !important;
}

.bg-white {
    background-color: white
}

.bg-jetblack {
    background-color: #22333b !important;
    color: white !important;
}

.bg-jetblack p, .bg-jetblack h3 {
    color: white !important;

}

.progress.plain .bar {
    background: gray !important;
}

.progress-list li em {
    color: gray;
}

/***** HERO ******/
/***** HERO ******/
/***** HERO ******/

.tp-caption.hero-text {
    background: rgba(10, 9, 8, 0.45) !important;
    padding: 20px 26px !important;
    border-radius: 6px;
}

.tp-caption.hero-text h1,
.tp-caption.hero-text .large,
.tp-caption.hero-text .medium {
    color: #eae0d5 !important;
    text-shadow: none;
    display: block;
    margin: 0;
    font-size:4em;
    line-height:1em;
}

.tp-caption.hero-text .medium {
    margin-top: 10px;
    font-size: 2em;
}

.revolution .tp-caption:not(.hero-text) {
    color: #0a0908;
    text-shadow: 1px 2px 3px white;
}

/**** SLIDER ****/

.owl-item .box {
  background-color: #22333b;
}
.owl-item .box p {
    color: white;  
}
.owl-item .box .meta span {
    color: gray;
}
.owl-item .box h4 {
    color:  #edede9 !important;
}

.category.cat9 span a {
    background: #aec3b0;
}
.category.cat12 span a {
    background: #aec3b0;
}
.category.cat6 span a {
    background: #aec3b0;
}
.category.cat5 span a {
       background: #aec3b0;
}
/**** FOOTER ****/
footer p,
footer div {
    color: gray;
}

footer {
    width: 100%;
    text-align: center;
}

footer .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer .row>* {
    margin: 0 20px;
}

.cbp-item-wrapper p {
    color: white;
}


